        /* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1900px) {
    .video_area {
    float: left;
    width: 255px;
}
    .box {
    float: left;
    padding-left: 55px;
}
}
        /* Tablet Layout: 768px. */
        
@media only screen and (min-width: 768px) and (max-width: 991px) {
.video_area {
    float: left;
    width: 255px;
}
.box {
    float: left;
    padding-left: 55px;
}
}
        /* Mobile Layout: 320px. */      
@media only screen and (max-width: 766px) {  
.video_area {
    margin:auto;
    width: 195px;
}
.box {
    margin:auto;
    width:143px;
}
}
        /* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {

.video_area {
    margin: auto;
    width: 195px;
}
.box {
    margin:auto;
    width: 143px;
}

/*.box:hover{background:#ffc107;}*/

}