body {
 margin:0px auto;
}
.topbar{
       background: url(../img/topbar.png);
    width: 100%;
    height: 5px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    background-size: cover;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

h1{
    font-size: 42px;
}
.main_menu.pull-right {
    padding-top: 20px;
}

.menu_area {
    padding-top: 20px;
}
.main_menu ul{
    text-decoration:none; 
}
.main_menu ul li {
    list-style: none;
    float: left;
}
.main_menu ul li a{
    margin-right:20px;
    text-decoration:none;
    display: inline;
}
.main_opt img {
    padding-right: 10px;
}
.nav>li a.up{
    padding: 5px 14px;
    display: inline-block;
    background: #e6007e;
    color: #fff;
    border-radius: 5px;
    margin-top:10px;
    margin-right: 10px;
}
.nav>li a.in{
    margin-top: 10px;
    padding: 4px 13px;
    display: inline-block;
    border: 1px solid #e6007e;
    color: #111;
    border-radius: 5px;
}
.nav>li a.up:hover{
    padding: 4px 13px;
    border: 1px solid #337ab7;
}
.main_area {
    margin-top: 50px;
}
.main_opt {
        display: block;
}
.main_opt ul {
  margin-top: 0;
    margin-bottom: 10px;
    float: left;
    padding-left: 0px;
}
.main_opt ul li {
margin: 10px 0px ;
    list-style: none;
    float: left;
}
.teacher img{
    width: 100%;
}
.free .btn-lg {
    text-decoration: none;
    padding: 16px 50px;
    display: inline-block;
  background: #e6007e;
    color: #fff;
    border-radius: 5px;
    margin: 50px 0px;
}
.fotter_menu ul{
    text-align: center;
    text-decoration:none; 
}
.fotter_menu ul li {
       list-style: none;
    display: inline-block;
}
.fotter_menu ul li a{
    margin-right:8px;
    text-decoration:none;
     float:left;
}

.video_area img {
    float: left;
    padding-right: 10px;
}


.partner_opt {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 30px 0px;
    margin-bottom: 50px;
}